.body {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

.container {
	max-width: 400px;
	background-color: white;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	padding: 20px;
	margin: 0 auto;
}

button {
	padding: 10px 15px;
	background-color: orangered;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

table {
	border-collapse: collapse;
	width: 400px;
}
